* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 5px solid yellowgreen;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.container img {
  max-width: 95%;
  max-height: 500px;
  
}

.cow {
  filter: blur(4px);
}